[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
pylint = "*"
mypy = "*"
types-pyyaml = "*"
types-python-dateutil = "*"
types-requests = "*"

[packages]
flickrapi = "*"
requests = "*"
pathvalidate = "*"
pyyaml = "*"
pillow = "~=8.1.1"
pendulum = "*"
python-twitter = "*"
pyshp = "*"
iptcinfo3 = "*"
typing-extensions = "*"

[requires]
python_version = "3.9"
