[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"
flake8 = "*"
pylint = "*"
mypy = "*"

[packages]
flickrapi = "*"
requests = "*"
pathvalidate = "*"
pyyaml = "*"
pillow = "*"
pendulum = "*"

[requires]
python_version = "3.8"
